.form{margin-left: 400px;
		width:650px;
		height: 400px;
		border: inset;
		background: #7E7C7C;
				padding:20px;
		}
		.form input{margin-bottom: 15px;
			margin-left: 20px;}
			.form label{margin-left: 20px;
		}
		.btn input{margin-left: 200px;
			margin-top: 20px;
			width:200px;}

